<h1><%= @members.first_name%> <%= @members.last_name%></h1>
<h2>...has booked the following classes:</h2>



<ul>
  <% @members.lessons.each do |lesson| %>
  <li>
    <%=lesson.title%>
  </li>
  <% end %>

</ul>
