<h3> What are your fitness goals? </h3>

<h3> This? </h3>

<a>
  <img src = "/images/as.jpeg" alt = "Arnold Schwarzenegger"  />
</a>

<h3> .. or this ? </h3>

<a>
  <img src = "/images/skinnyflex.jpeg" alt = "Skinny Flex"  />
</a>
