.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: white;
  cursor:pointer;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.btn--danger {
  background-color: red;
}

.btn--danger:hover {
  background-color: #ff6700;
}

.btn--action:hover {
  background-color: green;
}

.btn--action {
  background-color: #004e98;
}
